// grid
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$xxl: 1399.98px;
$xxxl: 1599.98px;
// $hd: 1919.98px;

// Fonts
$main-font: "Inter", Arial, sans-serif;

// Bg
$body-bg-color: rgb(255, 255, 255);

// Colors
$dark: rgb(37, 44, 50);
$white: rgb(255, 255, 255);

$pr-500: rgb(64, 148, 247);
$pr-600: rgb(14, 115, 246);

// Links
$link-pressed: rgb(224, 224, 224);

// Box shadows
$border-rad-btn: 5px;
$border-rad-card: 10px;
$border-rad-card__pay: 0px 0px 10px 10px;

// Gradient
